form{
    text-align: left;
    margin-left: 50px;
}

.but{
  margin-left: 80px;
}
h2{
    text-align: center;
    

}
.fom{
    width: 500px;
    background-color: rgb(199, 132, 107);
    margin-left: 505px;
}
 